
.header {
    background-color: #690d06;
    grid-area: h;
    border-bottom: #e8cc68 2px solid;
    display: flex;
    align-items: center;
}

.header img {
    width: 150px;
    margin-left: 42px;
    height: 40px;
}
