.nav {
    grid-area: n;
    background-color: #690d06;
    text-align: center;
}

.item a {
    font-size: 20px;
    color: white;
    display: block;
    transition: .350s;

}

.item a.activeLink {
    color: #690d06;
    background: #ffe500;
}
.item a:hover{
    color: red;
    color: #690d06;
    background: #ffe500;
    transition: .350s;
}